[submodule "third_party/Humans4D"]
	path = third_party/Humans4D
	url = https://github.com/shubham-goel/4D-Humans.git
[submodule "third_party/Cosmos-Drive-Dreams"]
	path = third_party/Cosmos-Drive-Dreams
	url = https://github.com/nv-tlabs/Cosmos-Drive-Dreams.git
[submodule "third_party/faith-fusion"]
	path = third_party/faith-fusion
	url = git@github.com:wangyuanbiubiubiu/FaithFusion.git
